<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestcon</title>
    <link rel="stylesheet" href="/static/styles/consulta_cliente.css">
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.png">
</head>
<body>

    <header class="cabecalho" >
        <nav>
            <a href="/cadastro_cliente">Cadastro Clientes</a>
            <a class="active" href="/consulta_cliente">Consulta Clientes</a>
            <a href="/cadastro_fornecedor">Cadastro Fornecedores</a>
            <a href="/consulta_fornecedor">Consulta Fornecedores</a>
            <a href="/cadastro_usuario">Cadastro Usuários</a>
            <a href="/consulta_usuario">Consulta Usuários</a>
        </nav>
    </header>

    <img class="logo" src="/static/assets/logo.png" alt="">

    <h2>CONSULTA DE CLIENTES</h2>
    <h3>Olá, {{ nome_usuario }}!</h3>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOME</th>
                    <th>E-MAIL</th>
                    <th>TEL</th>
                    <th>OPÇÕES</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente[0] }}</td>
                    <td class="abrevia" title="{{ cliente[1] }}">{{ cliente[1] }}</td>
                    <td class="abrevia" title="{{ cliente[2] }}">{{ cliente[2] }}</td>
                    <td>{{ cliente[3] }}</td>
                    <td class="opcoes">
                        <a class="link_visualizar" href="{{ url_for('visualizar_cliente', cliente_id=cliente[0]) }}">Visualizar</a>                        
                        <a class="link_excluir" href="/excluir_cliente/{{ cliente[0] }}">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>